html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
label, button{
    color: #179b77;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(19, 35, 47, 0.9);
}
div.content{
    width: 450px;
}
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

button:hover, button:focus {
  background: #179b77;
  color: #ffffff;
}